In [1]:
!pip install yfinance
import yfinance as yf 
import pandas as pd

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.1.74-py2.py3-none-any.whl (27 kB)
Collecting requests>=2.26
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 1.2 MB/s
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.9.1)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.2.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.6.15)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Installing collected packages: requests, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
Successfully installed requests-2.28.1 yfinance-0.1.74

In [2]:
table = pd.read_html("https://en.wikipedia.org/wiki/List_of_S%26P_500_companies")
snp_com_symb = table[0]["Symbol"].tolist()
len(snp_com_symb)

502

In [3]:
snp_com_symb = snp_com_symb#[-10:]
snp_com_symb.append("SPY")
snp_com_symb[-5:]

['ZBRA', 'ZBH', 'ZION', 'ZTS', 'SPY']

In [4]:
symbols = snp_com_symb
yf_period = "32y" #from 1990
yf_interval = "1d"
yf_returns = yf.download(
        tickers = symbols,       # tickers list or string as well
        period = yf_period,      # optional, default is '1mo'
        interval = yf_interval,  # fetch data by intervaal
        group_by = 'ticker',     # group by ticker
        auto_adjust = True,      # adjust all OHLC (open-high-low-close)
        prepost = False,#True,          # download market hours data
        threads = True,          # threads for mass downloading
        proxy = None)            # proxy
yf_returns.head(3)

"""
S&P500 have 2 Failed downloads:
- BF.B: No data found for this date range, symbol may be delisted
- BRK.B: No data found, symbol may be delisted
"""

[*********************100%***********************]  503 of 503 completed

2 Failed downloads:
- BRK.B: No data found, symbol may be delisted
- BF.B: No data found for this date range, symbol may be delisted

'\nS&P500 have 2 Failed downloads:\n- BF.B: No data found for this date range, symbol may be delisted\n- BRK.B: No data found, symbol may be delisted\n'

In [5]:
# yf_returns["Close"] is the same as yf_returns.loc[:,"Close"] #[index, column]
#yf_returns = pd.DataFrame(yf_returns["Close"]) #wrap in DataFrame to remain DataFrame format
yf_returns = yf_returns.iloc[:, yf_returns.columns.get_level_values(1)=="Close"]
#yf_returns = round(yf_returns.pct_change()*100, 2)
yf_returns.head(3)

,FTV,HOLX,ALLE,HBAN,TRMB,AJG,HWM,META,USB,SPGI,...,BMY,JKHY,RJF,CPB,SEE,CSX,INCY,CI,MRK,TXN
,Close,Close,Close,Close,Close,Close,Close,Close,Close,Close,...,Close,Close,Close,Close,Close,Close,Close,Close,Close,Close
Date,,,,,,,,,,,,,,,,,,,,,
1990-10-01,NaN,2.40625,NaN,1.412325,1.125000,1.919675,NaN,NaN,0.686648,2.739161,...,4.709389,0.059547,0.390118,4.895474,1.798969,0.410532,NaN,2.750159,4.472849,1.044601
1990-10-02,NaN,2.37500,NaN,1.380227,1.166667,1.942803,NaN,NaN,0.717859,2.739161,...,4.670630,0.059547,0.383926,5.025326,1.856628,0.419614,NaN,2.750159,4.417112,1.025608
1990-10-03,NaN,2.28125,NaN,1.396276,1.083333,1.965932,NaN,NaN,0.697051,2.677258,...,4.602799,0.059547,0.377733,5.051433,1.833564,0.405082,NaN,2.697941,4.382277,1.016112

In [6]:
yf_returns.columns = yf_returns.columns.droplevel(1)
yf_returns.head(3)

,FTV,HOLX,ALLE,HBAN,TRMB,AJG,HWM,META,USB,SPGI,...,BMY,JKHY,RJF,CPB,SEE,CSX,INCY,CI,MRK,TXN
Date,,,,,,,,,,,,,,,,,,,,,
1990-10-01,NaN,2.40625,NaN,1.412325,1.125000,1.919675,NaN,NaN,0.686648,2.739161,...,4.709389,0.059547,0.390118,4.895474,1.798969,0.410532,NaN,2.750159,4.472849,1.044601
1990-10-02,NaN,2.37500,NaN,1.380227,1.166667,1.942803,NaN,NaN,0.717859,2.739161,...,4.670630,0.059547,0.383926,5.025326,1.856628,0.419614,NaN,2.750159,4.417112,1.025608
1990-10-03,NaN,2.28125,NaN,1.396276,1.083333,1.965932,NaN,NaN,0.697051,2.677258,...,4.602799,0.059547,0.377733,5.051433,1.833564,0.405082,NaN,2.697941,4.382277,1.016112

In [7]:
yf_returns = round(yf_returns.pct_change()*100, 2)
yf_returns.head(3)

,FTV,HOLX,ALLE,HBAN,TRMB,AJG,HWM,META,USB,SPGI,...,BMY,JKHY,RJF,CPB,SEE,CSX,INCY,CI,MRK,TXN
Date,,,,,,,,,,,,,,,,,,,,,
1990-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990-10-02,NaN,-1.30,NaN,-2.27,3.70,1.20,NaN,NaN,4.55,0.00,...,-0.82,0.0,-1.59,2.65,3.21,2.21,NaN,0.0,-1.25,-1.82
1990-10-03,NaN,-3.95,NaN,1.16,-7.14,1.19,NaN,NaN,-2.90,-2.26,...,-1.45,0.0,-1.61,0.52,-1.24,-3.46,NaN,-1.9,-0.79,-0.93

In [8]:
yf_divdend = pd.DataFrame()   # initialize dataframe
for symbol in symbols:
    x = pd.DataFrame(yf.Ticker(symbol).dividends)
    #Only one column, so needa wrap it in pd.DataFrame to make one column still DataFrame
    x = x.rename(columns={"Dividends":symbol}) #If dun rename, when concat will merge tgt
    yf_divdend = pd.concat([yf_divdend,x], axis=1) #axis = 0 is row, 1 is column
yf_divdend.head(3)

- BRK.B: No data found, symbol may be delisted
- BF.B: No data found for this date range, symbol may be delisted

,MMM,AOS,ABT,ABBV,ABMD,ACN,ATVI,ADM,ADBE,ADP,...,GWW,WYNN,XEL,XYL,YUM,ZBRA,ZBH,ZION,ZTS,SPY
Date,,,,,,,,,,,,,,,,,,,,,
1962-01-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-01-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-01-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
yf_divdend = yf_divdend[yf_divdend.index >= yf_returns.index[0]] #match yf_returns's start date (index[0])
yf_divdend.head(3)

,MMM,AOS,ABT,ABBV,ABMD,ACN,ATVI,ADM,ADBE,ADP,...,GWW,WYNN,XEL,XYL,YUM,ZBRA,ZBH,ZION,ZTS,SPY
Date,,,,,,,,,,,,,,,,,,,,,
1990-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990-10-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990-10-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<span style="color:b"><font size="3">yf_returns = yf_returns + yf_divdend</font></span>

\begin{align*} 
\mathsf{\text{Percentage Return} =  \frac{price_{2}-price_{1}}{price_{1}}} \times  100 + dividends (\%)
\end{align*}

In [10]:
yf_returns = yf_returns.add(yf_divdend, fill_value = 0) 
#fill value is done BEFORE addition, TSLA not IPO yet
yf_returns.head(3)

,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,...,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
1990-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990-10-02,NaN,NaN,NaN,-2.87,NaN,NaN,3.70,0.3,NaN,-7.87,...,NaN,1.20,-0.25,0.0,NaN,NaN,NaN,NaN,2.02,NaN
1990-10-03,NaN,NaN,NaN,-8.86,NaN,NaN,-3.57,-0.9,NaN,2.44,...,NaN,-0.79,0.25,0.0,NaN,NaN,NaN,NaN,-0.99,NaN

In [11]:
yf_returns["MONTH"] = yf_returns.index.strftime("%Y-%m")  # YEAR-MONTH
yf_returns.tail(3)

,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,...,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS,MONTH
Date,,,,,,,,,,,,,,,,,,,,,
2022-09-28,1.74,3.91,2.52,-1.27,2.03,2.19,2.31,0.40,2.18,1.38,...,0.79,3.64,1.470,2.50,0.32,2.59,2.42,0.97,1.91,2022-09
2022-09-29,-0.79,-3.92,-2.24,-4.91,-1.30,-1.69,-0.44,-0.44,-1.40,-1.12,...,-5.15,-0.20,-1.575,-2.74,-0.84,0.08,-2.15,-2.80,-0.86,2022-09
2022-09-30,-0.97,-1.71,-2.08,-3.00,-5.96,-0.54,-1.33,-1.56,-0.38,-1.10,...,-2.08,-1.54,-2.740,-0.83,-0.81,-2.40,-1.32,-1.78,-1.76,2022-09

In [12]:
yf_returns = yf_returns.groupby('MONTH').sum() #groupby(): no actual computation until the transform_fn (e.g. .sum()) is applied
yf_returns.tail(3)

,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,...,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
MONTH,,,,,,,,,,,,,,,,,,,,,
2022-07,13.07,9.18,11.56,17.59,-4.00,3.20,17.37,1.29,11.42,11.83,...,11.69,3.620,12.83,1.340,16.72,7.79,5.13,20.24,7.26,6.865
2022-08,-3.88,-4.63,-13.01,-2.65,-6.38,1.45,-11.56,-5.68,-5.78,-8.86,...,-4.05,1.550,0.96,-9.520,0.04,-8.42,-3.44,-15.87,2.21,-15.070
2022-09,-5.06,-6.50,-4.83,-12.30,0.20,-7.76,-5.08,-5.69,-11.18,-28.44,...,5.65,-13.302,-8.59,-13.395,-3.82,-4.30,-0.79,-13.43,-7.55,-5.120

In [13]:
yf_returns = yf_returns.loc[yf_returns["SPY"] < 0]
yf_returns.tail(3)

,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,...,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
MONTH,,,,,,,,,,,,,,,,,,,,,
2022-06,-6.60,-32.19,-6.46,-7.89,4.11,-8.71,-5.38,-7.40,-6.69,-11.97,...,-12.81,-4.772,-10.39,-9.075,-7.00,-6.50,-12.55,-13.26,-10.86,1.02
2022-08,-3.88,-4.63,-13.01,-2.65,-6.38,1.45,-11.56,-5.68,-5.78,-8.86,...,-4.05,1.550,0.96,-9.520,0.04,-8.42,-3.44,-15.87,2.21,-15.07
2022-09,-5.06,-6.50,-4.83,-12.30,0.20,-7.76,-5.08,-5.69,-11.18,-28.44,...,5.65,-13.302,-8.59,-13.395,-3.82,-4.30,-0.79,-13.43,-7.55,-5.12

In [14]:
#https://stackoverflow.com/questions/45383144/subtracting-many-columns-in-a-df-by-one-column-in-another-df
yf_returns = yf_returns.sub(yf_returns['SPY'], axis=0)
yf_returns.tail(3)

,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,...,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
MONTH,,,,,,,,,,,,,,,,,,,,,
2022-06,0.053,-25.537,0.193,-1.237,10.763,-2.057,1.273,-0.747,-0.037,-5.317,...,-6.157,1.881,-3.737,-2.422,-0.347,0.153,-5.897,-6.607,-4.207,7.673
2022-08,0.120,-0.630,-9.010,1.350,-2.380,5.450,-7.560,-1.680,-1.780,-4.860,...,-0.050,5.550,4.960,-5.520,4.040,-4.420,0.560,-11.870,6.210,-11.070
2022-09,2.814,1.374,3.044,-4.426,8.074,0.114,2.794,2.184,-3.306,-20.566,...,13.524,-5.428,-0.716,-5.521,4.054,3.574,7.084,-5.556,0.324,2.754

In [15]:
mean = yf_returns.mean()
mean

A      -1.828286
AAL     1.149407
AAP     1.801610
AAPL   -0.501550
ABBV    2.514068
          ...
YUM     1.815052
ZBH     1.148590
ZBRA   -0.147119
ZION    0.501339
ZTS     2.743331
Length: 503, dtype: float64

In [ ]:
#https://stackoverflow.com/questions/55268364/how-to-replace-outliers-with-median-in-pandas-dataframe
"""
median = df['Values'].median()
std = df['Values'].std()
outliers = (df['Values'] - median).abs() > std
df[outliers] = np.nan
"""

In [16]:
mean.sort_values().tail(50)

DTE      2.840881
CBOE     2.851271
NOW      2.855678
CHD      2.858839
INVH     2.877288
D        2.877763
ELV      2.892822
DUK      2.900062
FOX      2.907627
COO      2.929237
CF       2.930441
SRE      2.934619
KEYS     2.951271
SJM      2.955678
FOXA     2.966017
DGX      2.972415
NEE      2.984699
EXC      2.985911
RE       3.014746
TYL      3.019153
ODFL     3.067175
VRSK     3.084153
TWTR     3.088983
ROL      3.092994
MKTX     3.121949
AWK      3.127339
OGN      3.129407
HRL      3.141508
MNST     3.161356
TSCO     3.173983
OTIS     3.181356
GIS      3.216453
FE       3.253161
LW       3.266322
WEC      3.286199
TDG      3.430932
CARR     3.482119
CTVA     3.519322
BRK.B    3.548898
BF.B     3.548898
PSA      3.554492
ED       3.589831
ABC      3.591504
DG       3.618136
MRNA     3.645508
SO       3.797179
SEDG     3.799237
CEG      3.844169
HSY      4.010227
ENPH     4.836864
dtype: float64

In [ ]:
ticker = yf.Ticker("SPY")
ticker.info.keys()

dict_keys(['exchange', 'shortName', 'longName', 'exchangeTimezoneName', 'exchangeTimezoneShortName', 'isEsgPopulated', 'gmtOffSetMilliseconds', 'quoteType', 'symbol', 'messageBoardId', 'market', 'annualHoldingsTurnover', 'enterpriseToRevenue', 'beta3Year', 'profitMargins', 'enterpriseToEbitda', '52WeekChange', 'morningStarRiskRating', 'forwardEps', 'revenueQuarterlyGrowth', 'fundInceptionDate', 'annualReportExpenseRatio', 'totalAssets', 'bookValue', 'fundFamily', 'lastFiscalYearEnd', 'netIncomeToCommon', 'trailingEps', 'lastDividendValue', 'SandP52WeekChange', 'priceToBook', 'nextFiscalYearEnd', 'yield', 'mostRecentQuarter', 'enterpriseValue', 'priceHint', 'threeYearAverageReturn', 'lastSplitDate', 'lastSplitFactor', 'legalType', 'lastDividendDate', 'morningStarOverallRating', 'earningsQuarterlyGrowth', 'priceToSalesTrailing12Months', 'pegRatio', 'ytdReturn', 'forwardPE', 'maxAge', 'lastCapGain', 'category', 'fiveYearAverageReturn', 'phone', 'longBusinessSummary', 'companyOfficers', 'previousClose', 'regularMarketOpen', 'twoHundredDayAverage', 'trailingAnnualDividendYield', 'payoutRatio', 'volume24Hr', 'regularMarketDayHigh', 'navPrice', 'averageDailyVolume10Day', 'regularMarketPreviousClose', 'fiftyDayAverage', 'trailingAnnualDividendRate', 'open', 'toCurrency', 'averageVolume10days', 'expireDate', 'algorithm', 'dividendRate', 'exDividendDate', 'beta', 'circulatingSupply', 'startDate', 'regularMarketDayLow', 'currency', 'trailingPE', 'regularMarketVolume', 'lastMarket', 'maxSupply', 'openInterest', 'marketCap', 'volumeAllCurrencies', 'strikePrice', 'averageVolume', 'dayLow', 'ask', 'askSize', 'volume', 'fiftyTwoWeekHigh', 'fromCurrency', 'fiveYearAvgDividendYield', 'fiftyTwoWeekLow', 'bid', 'tradeable', 'dividendYield', 'bidSize', 'dayHigh', 'coinMarketCapLink', 'preferredPosition', 'bondPosition', 'convertiblePosition', 'sectorWeightings', 'holdings', 'bondHoldings', 'bondRatings', 'equityHoldings', 'otherPosition', 'cashPosition', 'stockPosition', 'regularMarketPrice', 'preMarketPrice', 'logo_url'])

In [ ]:
aapl = yf.Ticker("AAPL")
aapl.info.keys()

dict_keys(['zip', 'sector', 'fullTimeEmployees', 'longBusinessSummary', 'city', 'phone', 'state', 'country', 'companyOfficers', 'website', 'maxAge', 'address1', 'industry', 'ebitdaMargins', 'profitMargins', 'grossMargins', 'operatingCashflow', 'revenueGrowth', 'operatingMargins', 'ebitda', 'targetLowPrice', 'recommendationKey', 'grossProfits', 'freeCashflow', 'targetMedianPrice', 'currentPrice', 'earningsGrowth', 'currentRatio', 'returnOnAssets', 'numberOfAnalystOpinions', 'targetMeanPrice', 'debtToEquity', 'returnOnEquity', 'targetHighPrice', 'totalCash', 'totalDebt', 'totalRevenue', 'totalCashPerShare', 'financialCurrency', 'revenuePerShare', 'quickRatio', 'recommendationMean', 'exchange', 'shortName', 'longName', 'exchangeTimezoneName', 'exchangeTimezoneShortName', 'isEsgPopulated', 'gmtOffSetMilliseconds', 'quoteType', 'symbol', 'messageBoardId', 'market', 'annualHoldingsTurnover', 'enterpriseToRevenue', 'beta3Year', 'enterpriseToEbitda', '52WeekChange', 'morningStarRiskRating', 'forwardEps', 'revenueQuarterlyGrowth', 'sharesOutstanding', 'fundInceptionDate', 'annualReportExpenseRatio', 'totalAssets', 'bookValue', 'sharesShort', 'sharesPercentSharesOut', 'fundFamily', 'lastFiscalYearEnd', 'heldPercentInstitutions', 'netIncomeToCommon', 'trailingEps', 'lastDividendValue', 'SandP52WeekChange', 'priceToBook', 'heldPercentInsiders', 'nextFiscalYearEnd', 'yield', 'mostRecentQuarter', 'shortRatio', 'sharesShortPreviousMonthDate', 'floatShares', 'beta', 'enterpriseValue', 'priceHint', 'threeYearAverageReturn', 'lastSplitDate', 'lastSplitFactor', 'legalType', 'lastDividendDate', 'morningStarOverallRating', 'earningsQuarterlyGrowth', 'priceToSalesTrailing12Months', 'dateShortInterest', 'pegRatio', 'ytdReturn', 'forwardPE', 'lastCapGain', 'shortPercentOfFloat', 'sharesShortPriorMonth', 'impliedSharesOutstanding', 'category', 'fiveYearAverageReturn', 'previousClose', 'regularMarketOpen', 'twoHundredDayAverage', 'trailingAnnualDividendYield', 'payoutRatio', 'volume24Hr', 'regularMarketDayHigh', 'navPrice', 'averageDailyVolume10Day', 'regularMarketPreviousClose', 'fiftyDayAverage', 'trailingAnnualDividendRate', 'open', 'toCurrency', 'averageVolume10days', 'expireDate', 'algorithm', 'dividendRate', 'exDividendDate', 'circulatingSupply', 'startDate', 'regularMarketDayLow', 'currency', 'trailingPE', 'regularMarketVolume', 'lastMarket', 'maxSupply', 'openInterest', 'marketCap', 'volumeAllCurrencies', 'strikePrice', 'averageVolume', 'dayLow', 'ask', 'askSize', 'volume', 'fiftyTwoWeekHigh', 'fromCurrency', 'fiveYearAvgDividendYield', 'fiftyTwoWeekLow', 'bid', 'tradeable', 'dividendYield', 'bidSize', 'dayHigh', 'coinMarketCapLink', 'regularMarketPrice', 'preMarketPrice', 'logo_url', 'trailingPegRatio'])

In [ ]:
aapl.history(start="1990-01-01", end="2022-10-01", interval="1mo").tail(3)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1990-01-01,0.251080,0.276010,0.228821,0.242176,3.747498e+09,0.000000,0.0
1990-02-01,0.245738,0.251080,0.229711,0.242176,2.483891e+09,0.000000,0.0
1990-02-16,NaN,NaN,NaN,NaN,NaN,0.000982,0.0
1990-03-01,0.239383,0.309948,0.237597,0.287618,4.556474e+09,0.000000,0.0
1990-04-01,0.285831,0.316201,0.272433,0.281366,3.642475e+09,0.000000,0.0
...,...,...,...,...,...,...,...
2022-07-01,135.851292,163.403033,135.471829,162.284576,1.447125e+09,0.000000,0.0
2022-08-01,160.786659,175.905658,156.922032,157.001923,1.510240e+09,0.000000,0.0
2022-08-05,NaN,NaN,NaN,NaN,NaN,0.230000,0.0
2022-09-01,156.639999,164.259995,138.000000,138.199997,2.084238e+09,0.000000,0.0
2022-09-30,141.279999,143.100006,138.000000,138.199997,1.249253e+08,0.000000,0.0

### References:
[1] https://www.youtube.com/watch?v=Zt2PuC7iXEU&t=3s

[2] https://www.kaggle.com/code/asimislam/stock-performance-with-yahoo-finance-yfinance#4--Performance-Analysis